
:root {
    background-color: #000  ;
    font-size: 1rem;
    color: black;
    font-family: sans-serif;
    box-sizing: border-box;
}

.btn {
    
    color: #a72121;
    background-color: #2bd118;
    border: 1px solid black;
    border-radius: 6px;
    padding: 4px;
    opacity: 0.7;
    font-size: 80%;
    cursor: pointer;
    animation: background-color 3s;
}

@media (hover: hover) {
    .btn:hover {
        background-color: #000;
        color: #2bd118;
    }
}

@media (width > 767px) {
    .btn {
        font-size: 1.1rem;
    }
}
@media (width > 1020px) {
    .btn {
        font-size: 1.5rem;
    }
}