.header {
    background: rgb(8,10,7);
    background: radial-gradient(circle, rgba(8,10,7,1) 16%, rgba(36,87,7,0.9612219887955182) 37%, rgba(210,152,41,1) 42%, rgba(0,191,255,1) 98%);   
    height: 26px;
    position: sticky;
    z-index: 10;
    border-radius: 5px;
    top: 0px;
    padding: 0.7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14px;
}
.header .header__logo {
    width: 50px;
}

.header .header__logo img {
    width: 100%;
    border-radius: 50%;
    padding-top: 4px;
        
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu .menu__list .menu__list__item {
    list-style: none;
}
.menu .menu__list .menu__list__item a {
    text-decoration: none;
}

@media (width > 767px) {
    .menu__list__item {
        font-size: 0.5rem;
    }
}

