
:root {
    background-color: hsla(95, 86%, 14%, 0.812)  ;
    font-size: 1rem;
    color: black;
    font-family: sans-serif;
    box-sizing: border-box;
}

.btn {
    color: blueviolet ;
    background-color: #F9E5FB;
    border: 1px solid black;
    border-radius: 6px;
    padding: 4px;
    opacity: 0.7;
    font-size: 80%;
    cursor: pointer;
}

